<h2>Results</h2>
{{#if errror}}
    <h3>There was an error: {{error.message}}</h3>
{{else}}
    <h3>Total Hits: {{total}}</h3>
    <h4>Query:</h4>
    <pre>{{~rawQuery~}}</pre>
    <h4>Index:</h4>
    <pre>{{~indexName~}}</pre>
    <table>
        <thead>
        <tr>
            <th>#</th>
            {{#each fieldMap}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
        </thead>
        <tbody>
        {{#each items}}
            <tr>
                <td>{{@index}}</td>
                {{{printWithKeys this.fields ../fieldMap "td"}}}
            </tr>
        {{/each}}
        </tbody>
    </table>
{{/if}}